{% extends 'base.html.twig' %}

{% block title %}connexion_utilisateur{% endblock %}
{% block stylesheets %}<link href="{{ asset('./asset/css/connexion_utilisateur.css') }}" rel="stylesheet"/>{% endblock %}
{% block body %}
	{% include "commun/header.html.twig" %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-6 mx-auto mt-5">
				<form method="post" action="{{ path('app_connexion') }}">
					<h1 class="text-center mt-5">Se connecter à Mobility</h1>
					<h4 class="text-center mt-5">Nouveau sur ce site ? <a href="#">  S'inscrire</a></h4>
					<div class="mt-5">
						<label for="exampleInputEmail1" class="form-label">E-mail *</label>
						<input type="email" name="_username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
					</div>
					<div class="mt-5">
						<label for="exampleInputPassword1" class="form-label">Mot de passe *</label>
						<input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
					</div>
					<div class="mdp">
                    <a class="form-label" href="#">Mot de passe oublié ?</a>
					</div>
					<input type="hidden" name="_target_path" value="{{ path('dashboard_utilisateur') }}"/>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <div class="text-center">
					<button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
					<div class="connect">
					<p>Ou se connecter avec</p>
					<img class="facebook" src="../asset/img/logofacebook.png" alt="facebook">
					<img class="google" src="../asset/img/logogoogle.png" alt="google">
					</div>
                </form>
			</div>
		</div>
    </div>
	{% include "commun/footer.html.twig" %}
{% endblock %}
